.mainContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  direction: rtl;
  border-radius: 10px;
}

.detailsDiv {
  border-radius: 25px;
  margin: 20px;
}
.carImgSlider {
  padding: 20px;
}
.leftDetailsDiv {
  padding: 60px;
}

.firstRow {
  margin-bottom: 15px;
}

.releaseYear {
  color: #818181;
}
.priceCar {
  color: #ff6c37;
  background-color: #fff3cd;
  padding: 10px;
  border-radius: 5px;
}

.grayDetailsGroup {
  color: white;
  background-color: #707070;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.backBtn {
  font-size: 14px;
  float: top;
}
.single-product .col-6 img {
  padding: 0;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.grayDetailsDiv {
  margin: 20px;
}
li {
  color: #f8b334;
} /* bullet */
li span {
  color: black;
} /* text */

.keywords {
  margin-top: 20px;
  color: #ff470b;
  background-color: #fff3cd;
  padding: 1px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 25px;
}
.modelCar {
  color: #818181;
}
