.mainContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  direction: rtl;
  border-radius: 10px;

}

.detailsDiv {
  border-radius: 25px;
  margin: 20px;
}
.carImgSlider {
  padding: 20px;
}
.leftDetailsDiv {
  /* border: 1px solid gray; */
  padding: 40px;
}

.releaseYear {
  color: #818181;
}
.priceCar {
  color: #ff6c37;
  background-color: #fff3cd;
  padding: 10px;
  border-radius: 5px;
}

.a {
  color: white;
  background-color: #707070;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.backBtn {
  font-size: 14px;
  float: top;
}
.single-product .col-6 img {
  padding: 0;
}

.single-product .col-6 {
  padding: 20px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

li {
  color: #f8b334;
} /* bullet */
li span {
  color: black;
} /* text */
