.container {
  display: flex;
  justify-content: space-between;
}
.regImgDiv {
  width: 590px;
  height: 400px;
  margin-top: 130px;
}
.formDiv {
  width: 450px;
  height: 450px;
  margin-top: 80px;
}
.registerImg {
  width: 590px;
  height: 380px;
}

.titleReg {
  float: right;
}
