.headDetails {
  margin-top: 180px;
  float: center;
}
*/


/* .header {
  margin-bottom: 80px;
} */

#firstInSec2 {
  display: flex;
}

.imgSlider {
  height: 250px;
}

#topCars {
  text-align: center;
  margin: 50px;
  font-weight: bold;
}

.zeft {
  width: 100%;
  height: 200px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
