.parent {
  position: relative;
  top: 0;
  left: 0;
}
#headRight {
  position: relative;
  top: 0;
  float: left;
  height: 570px;
}
#carHead {
  position: absolute;
  width: 680px;
  height: 350px;
  top: 150px;
  left: 10px;
}
#rightDiv {
  /* width: 50%;
  height: 450px; */
  margin-top: 180px;
}

#appBtn {
  width: 150px;
  height: 45px;
}
.appButton {
  float: right;
}

.pHead1 {
  margin-bottom: 40px;
  color: #292929;
  font-size: 20px;
}
.pHead2 {
  color: #818181;
  font-size: 20px;
}

.filterIcon {
  width: 100px;
  height: 30px;
}

#searchInput {
  margin-right: 500px;
}

.form-control.selectFilter {
  margin: 5px;
  width: 90%;
}
#modalBodyFilter {
  padding: 4rem;
}

#filterInput:focus {
  outline: none !important;
  border: 1px solid #818181;
  box-shadow: 0 0 10px #818181;
}

#filterInput {
  border-radius: 0 10px 10px 0;
  height: 40px;
}

#filterInput::placeholder {
  color: #818181;
}

/* .modal-header .close {

} */

.radioBtnForm > input {
  width: 15px;
}

/* .radioBtnForm > label {
  width: 15px;
} */

.radioInputDiv {
  display: block;
}
.slidecontainer {
  position: relative;
  max-width: 450px;
  overflow: hidden;
}

.rangeSliderInput {
  width: 70%;
}

/* input[type='range']::-webkit-slider-thumb {
  height: 12px;
  width: 45px;
  cursor: pointer;
  -webkit-appearance: none;
  border-bottom: 1px solid #29334f;
  box-shadow: 0 0 0 #ff6c37, 40px 0 0 #ff6c37, 85px 0 0 #ff6c37,
    130px 0 0 #ff6c37, 175px 0 0 #ff6c37, 220px 0 0 #ff6c37, 265px 0 0 #ff6c37,
    310px 0 0 #ff6c37, 350px 0 0 #ff6c37, 390px 0 0 #ff6c37, 409px 0 0 #ff6c37;
  background: black;
}
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
} */

/* input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
} */

.filterFooterModal {
  margin: auto;
}
