.parent {
  position: relative;
  top: 0;
  left: 0;
}
#headRight {
  position: relative;
  top: 0;
  float: left;
  height: 570px;
}
#carHead {
  position: absolute;
  width: 680px;
  height: 350px;
  top: 150px;
  left: 10px;
}
#rightDiv {
  /* width: 50%;
  height: 450px; */
  margin-top: 180px;
}

#appBtn {
  width: 150px;
  height: 45px;
}
.appButton {
  float: right;
}

.pHead1 {
  margin-bottom: 40px;
  color: #292929;
  font-size: 20px;
}
.pHead2 {
  color: #818181;
  font-size: 20px;
}

.filterIcon {
  width: 100px;
  height: 30px;
}

#searchInput {
  margin-right: 500px;
}

.form-control.selectFilter {
  margin: 5px;
  width: 90%;
}
#modalBodyFilter {
  padding: 4rem;
}

#filterInput:focus {
  outline: none !important;
  border: 1px solid #818181;
  box-shadow: 0 0 10px #818181;
}

#filterInput {
  border-radius: 0 10px 10px 0;
  height: 40px;
}

#filterInput::placeholder {
  color: #818181;
}

/* .modal-header .close {

} */

.radioBtnForm > input {
  width: 15px;
}

/* .radioBtnForm > label {
  width: 15px;
} */

.radioInputDiv {
  display: block;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #bec7be;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
