.parent {
  position: relative;
  top: 0;
  left: 0;
}
#headRight {
  position: relative;
  top: 0;
  float: left;
  height: 540px;
}
#carHead {
  position: absolute;
  width: 680px;
  height: 350px;
  top: 150px;
  left: 10px;
}
#rightDiv {
  /* width: 50%;
  height: 450px; */
  margin-top: 180px;
}

#appBtn {
  width: 150px;
  height: 45px;
}
.appButton{
  float: right;
}

.pHead1 {
  margin-bottom: 40px;
  color: #292929;
  font-size: 20px;
}
.pHead2 {
  color: #818181;
  font-size: 20px;
}

.filterIcon {
  width: 100px;
  height: 30px;
}

#searchInput{
  margin-right: 500px;
}

