.container {
  display: flex;
  justify-content: space-between;
}

.titleDiv {
  margin-top: 40px;
}
.titleMain {
  text-align: center;
  font-style: normal;
}
.titleSub {
  text-align: center;
  color: #606060;
}
.descriptionDiv {
  color: #606060;
  /* font-size: 12px; */
}

.card-title {
  font-size: large;
}
.model {
  font-size: large;
  color: #606060;
}

.favStar {
  color: #ff2e0a;
}

.mainContainer {
}
/* .col-lg-6 {
  border: 1px solid black;
} */

/* #groupBtn {
  margin: auto;
}

.w3-btn {
  width: 28%;
  height: 65px;
  margin-bottom: 50px;
  border: none;
}

#otherCarsBtn {
  border-radius: 0;
}

#dealersBtn {
  border-radius: 12px 0 0 12px;
}

#specialCarsBtn {
  border-radius: 0 12px 12px 0;
  background-color: #ff6c37;
} */
