.container {
  display: flex;
  justify-content: space-between;
}

.imgDiv {
  width: 590px;
  height: 400px;
  margin-top: 130px;
}
.formDiv {
  width: 450px;
  height: 450px;
  margin-top: 80px;
}

.loginImg {
  width: 590px;
  height: 380px;
}

input {
  background-color: #eceef0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 380px;
  height: 40px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px #eceef0 inset; /* Change the bg color when it filled  */
}

label {
  float: right;
}
.forgetPass {
  font-size: small;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.loginBtn {
  width: 180px;
}

.loginBtnAndReg {
  margin: auto;
}

.makeAccount {
  text-align: center;
  font-size: small;
  margin-top: 10px;
}

.subTitle {
  color: #818181;
}

.title {
  margin-bottom: 20px;
}
