.userImgNav {
  border-radius: 50%;
  margin: auto;
  height: 45px;

  margin-left: 6rem;
}

.AvaterImgModal {
  margin: auto;
  position: relative;
  margin-top: 20px;
}
.userImgModal {
  border-radius: 50%;
  margin: auto;
  height: 150px;
  position: relative;
  margin-top: -88px;
}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
  margin-bottom: 30px;
}

.textModal {
  margin-top: 100px;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.inputModal {
  padding: 20px 20px 130px 0;
  width: 300px;
}

.btnModal {
  margin: auto;
}

.successImg {
  margin: auto;
  width: 25%;
}
.modal1body {
  margin-top: 50px;
  border-radius: 15px;
}

.modal2SendRate {
  padding: 50px;
  border-radius: 15px;
}

.meetingTimeImg {
  width: 70%;
}

.meetingDetails {
  padding: 40px;
}

.btnsMeetingModal {
  margin: auto;
}

.modal-body > div > i {
  color: #707070;
  font-size: 1.2em;
}

.meetingBody {
  color: #707070;
  margin: auto;
}

.notificationNav {
  position: relative;
  display: inline-block;
}

.dropdownNotification {
  display: none;
  position: absolute;
}
.moreDropdown {
  text-align: right;
  font-size: small;
}

.moreDropdown > a > i {
  margin-left: 20px;
  font-size: 20px;
}

.moreDropdown > .dropdown-item {
  padding: 1px 6px 1px;
  margin: -4px;
}

.mainNavLogin > li > a:hover {
  color: #ff6c37;
}

.dropdownNotification > div > div > img {
  width: 45px;
  height: 45px;
}

.dropdownNotification > div > div > p {
  font-size: x-small;
  color: #818181;
}

.dropdownNotification > div > div > button {
  font-size: small;
}

.dropdownNotification > p {
  font-size: x-small;
  color: #818181;
}
