.navbar {
  height: 130%;
  /* box-shadow: 0 1px #818181; */
  direction: rtl;
  /* box-shadow: 0 4px 2px -2px gray; */
}

.logoImg {
  width: 150px;
  height: 30px;
  margin-right: 20px;
}

.mr-auto {
  margin-left: 100px;
}

.btnNav {
  margin-left: 70px;
}

.singInBtn {
  width: 120px;
}
.loginBtn {
  background-color: colorhere;
}

#Btns {
  padding-left: 90px;
}
/* 
.collapsed {
  text-align: right;
  background-color: violet;
} */
